.userImg{
    width:50px;
    height: 50px;
    border-radius: 50px;
}
.chat-section{
    display: none;
}
.border{
    width:85%;
}
.user-list{
    cursor: pointer;
}
.user-list:hover{
    background-color: rgb(209, 207, 207);
}
.offline-status{
    color:grey;
}
.online-status{
    color:	#a8f118;
}
#chat-container{
    position: relative;
    width:100%;
    height: 500px;
    background-color: rgb(222, 216, 216);
    overflow-y: scroll;
}

.message{
    padding-left:20px;
    padding-right:20px;
    position: relative;
    display:flex;
    width:100%;
    margin:5px 0;
}
.message p{
    position: relative;
    right: 0;
    text-align:right;
    max-width: 65%;
    padding:12px;
    background-color: #dcf8c6;
    border-radius: 6px;
}
.message p::before{
    content: '';
    position: absolute;
    top:0;
    right:-12px;
    width:20px;
    height: 20px;
    background: linear-gradient(135deg, #dcf8c6 50%, #dcf8c6 50%, transparent 50%, transparent);
}
.sender-message{
    justify-content: flex-end;
}
.receiver-message{
    justify-content: flex-start;
}
.receiver-message p{
    background-color: whitesmoke;
}
.message.receiver-message p::before{
    content: '';
    position: absolute;
    top:0;
    left:-12px;
    width:20px;
    height: 20px;
    background: linear-gradient(225deg, whitesmoke 50%, whitesmoke 50%, transparent 50%, transparent);
}

.typing-status{
    background-color: whitesmoke;
}

.nav{
    padding-left: 15px;
    background-color: whitesmoke;
    z-index: 1;
}
.fa-trash{
    color:#a39b89;
    cursor: pointer;
}
.fa-trash:hover{
    color:red;
}
.fa-edit{
    color:#a39b89;
    cursor: pointer;
}
.fa-edit:hover{
    color:green;
}
.fa-copy{
    color:#a39b89;
    cursor: pointer;
}
.fa-copy:hover{
    color: blue;
}

.addMemberTable{
    overflow-y: scroll;
    height: 100px;
    width: 100%;
}
#add-member-error{
    color:red;
}
.groupImg{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.group-list{
    cursor: pointer;
}
.group-list:hover{
    background-color: rgb(209, 207, 207);
}
.group-chat-section{
    display: none;
}
#group-chat-container{
    position: relative;
    width:100%;
    height: 500px;
    background-color: rgb(222, 216, 216);
    overflow-y: scroll;
}


